<div class="masthead clearfix">
    <div class="inner">
      <div class="masthead-brand">
          <img src="assets/images/full-logo.png" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="inner cover">
    <app-calc></app-calc>
  </div>

  <div class="mastfoot">
    <div class="inner">          
        <p class="pull-left">
          <img class="img1" src="assets/images/logo-iluminacao.png" class="img-responsive">
        </p>
        <p class="pull-right text-right copyright">
          Desenvolvido pelo <a href="http://cidac.campos.rj.gov.br/">
            <strong>CIDAC</strong></a>
            <br>Todos os direitos reservados
            <br>Copyright © <strong>2018</strong>
        </p>      
    </div>
  </div>